node_modules
client/node_modules
dist/
coverage/
client/dist/**
!client/dist/
!client/dist/index.html
!client/dist/404.html
!client/dist/service-worker.js
!client/dist/manifest.json
!client/dist/api/
!client/dist/api/published-cloudfront
!client/dist/api/published-cloudfront.json
!client/dist/assets/
!client/dist/assets/index-*.css
!client/dist/assets/index-*.js
