fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=1000
fetch-retry-maxtimeout=60000
progress=false
strict-ssl=true
proxy=http://proxy:8080
https-proxy=http://proxy:8080
cafile=/usr/local/share/ca-certificates/envoy-mitmproxy-ca-cert.crt
